[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "bash -c 'pylint main.py tests'"
format = "bash -c 'black main.py tests'"
test = "pytest"
prepare = "bash -c 'pre-commit install; pre-commit install --hook-type commit-msg; pre-commit install --hook-type pre-push;'"
